*{
	margin: 0px;
	padding: 0px;
	font: 1em Arial, serif;
	box-sizing: border-box;
	/*color: #e4f9f5;*/
}

.container{
	position: relative;
	height: 100vh;
	width: 100vw;
	display: grid;
	justify-content: space-evenly;
	grid-template-columns: 40% 60%;
	grid-template-areas: 
		"form result";
	/*background: #212121;*/

}







/*==================FORM====================*/


.input-form{
	grid-area: form;
	position: relative;
	margin: 10px 5px 10px 10px;
	border-radius: 15px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.personal-info-form{
	position: relative;
	display: block;
	top: 2.5%;
	font-size: 0.9em;
}

.form-label{
	display: block;
	margin: 10px 15px 7px 15px;
	font-weight: bold;
	font-size: 1.2em;
}

.form-input{
	display: block;
	width: 95%;
	margin: 5px 10px 15px 10px;
	padding: 7px;
	color: black;
	border-radius: 15px;
	border: 1.5px solid rgba(206, 210, 214,1);
	background: rgba(206, 210, 214,0.1);
  	outline: none;
}


.form-input:focus {
	border: 1.5px solid rgba(66, 135, 245,0.7);
	background: rgba(245, 246, 247,0.5);
	box-shadow: 2px 2px 2px rgba(66, 135, 245, 0.2), 
				-2px 2px 2px rgba(66, 135, 245, 0.2), 
				-2px -2px 2px rgba(66, 135, 245, 0.2), 
				2px -2px 2px rgba(66, 135, 245, 0.2);
	transition: 0.3s;
}

.form-radio{
	margin: 7px 10px 15px 15px;
}

.var-type-input{
	margin-right: 2px;
	margin-bottom: 5px;
	margin-top: 1px;
	display: inline-block;
	width: 77%;
}

.var-type-opt{
	margin-left: 1px;
	margin-bottom: 5px;
	margin-top: 1px;
	display: inline-block;
	width: 16.5%;
}

.radio-option{
	display: inline-block;
	margin:0px 50px 0px 10px;
}

.form-btn{
	position: relative;
	margin: 10px 15px 0px 20px;
	display: inline-block;
	font-size: 1em;
	height: 45px;
	width: 200px;
	background: rgba(204, 208, 227, 0.5);
	border-radius: 25px;
	border:none;
	outline: none;
	box-shadow: 5px 5px 5px grey;
}

.form-btn:hover {
	background: rgba(204, 208, 227, 1);
	font: normal bold 1.1em Arial;
	transition: 0.3s;
}

.form-btn:active {
	box-shadow: 3px 3px 3px grey;
	font: normal bold 1.1em Arial;
	transition: 0.3s;
}







/*===================RESULT======================*/

.result{
	grid-area: result;
	position: relative;
	margin: 10px 10px 10px 5px;
	border-radius: 15px;
	overflow: hidden;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.result-methods{
	display: block;
	position: absolute;
	height: auto;
	width: auto;
	top: 2%;
	left: 2%;
}

.result-method{
	display: inline-block;
	position: relative;
	padding: 5px 4px;
	background: #ff414d;
	border-radius: 5px;
	outline: none;
	border: 2px solid black;
}


.result-method:focus {
	border: 2px solid blue;
	background: black;
	color: white;
	transition: 0.3s;
	/* background: rgba(172, 184, 242,0.3); */
}

.result-method:hover{
	background: black;
	color: white;
	border: 2px solid white;
	transition: 0.3s;
	/* background: rgba(172, 184, 242,0.3); */
}

.macros{
	/* display: inline-block; */
	position: absolute;
	width: 80px;
	height: 210px;
	right:2%;
	bottom: 2%;
	float: right;
}

.macro{
	display: block;
	position: relative;
	height: 60px;
	width: 60px;
	padding: 10px;
	margin: 5px auto;
	border: 2px solid black;
	background: red;
	border-radius: 50%;
  	outline: none;
}

.macro:focus {
	border: 2px solid blue;
	height: 65px;
	width: 65px;
	margin: auto auto;
	background: black;
	transition: 0.3s;
}

.macro:hover {
	background: black;
	height: 65px;
	width: 65px;
	border: 2px solid white;
	transition: 0.3s;
}

.macro img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

.calc-result{
	display: inline-block;
	position: relative;
	text-align: center;
	height: 100%;
	width: 100%;
	color: rgb(60, 61, 69);
}

#calc-result-number{
	font-size: 10em;
	position: relative;
	display: block;
	width: 50%;
	top: 25%;
	height: auto;
	margin: auto;
	/*color: #14ffec;*/
}

#calc-result-unit{
	font-size: 5em;
	position: relative;
	width: 25%;
	top: 25%;
	margin: auto;
	display: block;
}

.shown-result{
	position: absolute;
	font: normal small-caps bold 0.8em Arial;	/*font-style font-variant font-weight font-size/line-height font-family*/
	bottom: 3%;
	left: 2%;
}











@media screen and (max-width: 600px) {
	
	.container{
		justify-content: space-evenly;
		grid-template-columns: 100%;
		grid-template-rows: 70% 30%;
		grid-template-areas: 
			"form"
			"result";
		/*background: #212121;*/
	}

	.personal-info-form{
		font-size: 0.75em;
	}
}












