*{
	margin: 0px;
	padding: 0px;
	font: 1em Arial, serif;
	box-sizing: border-box;
}

body{
	position: relative;
}

a{
	color:white;
	text-decoration: none;
	padding: 0;
	margin: 0;
	outline: none;
}





/* ============================== BRANDING ============================== */

.branding{
	position: absolute;
	display: inline-block;
	background: rgba(1, 5, 26, 1);
	height: 100%;
	width: 100%;
	border-radius: 10px;
	overflow: hidden;
	bottom: 0%;
	right: 0%;
	transition: 0.5s;
	clip-path: circle(3.8% at 95% 50%);	/* radius at origin-point(x y)*/
}

.branding:hover{
	clip-path: circle(100% at 50% 50%);
}

.branding-fill{
	clip-path: circle(100% at 50% 50%);
}

.branding-fill #branding-info{
	display: none;
}

#branding-info{
	position: absolute;
	top: 45%;
	right: 1.4%;
	font-size: 3.5em;
	display: inline-block;
	color: white;
	transition: 0.3s;
}

.branding:hover #branding-info{
	opacity: 0%;
	color: rgb(233, 61, 90);
}

.brand-name{
	position: absolute;
	font-family: 'Balsamiq Sans', cursive;
	display: inline-block;
	color: white;
	padding: 0 1%;
	top: 10%;
	left: 20%;
	font-size: 5rem;
	border-radius: 10px;
	border: 2px solid rgb(233, 61, 90);
	transition: 0.5s;
	-webkit-box-reflect: below 3px linear-gradient(transparent,transparent, rgba(233, 61, 90, 0.15), rgba(233, 61, 90, 0.2));
}

.brand-name:hover{
	font-size: 5.5rem;
	left: 17%;
	background:rgb(233, 61, 90);
	box-shadow: 10px 10px 10px rgba(233, 61, 90, 0.2), 
				-10px 10px 10px rgba(233, 61, 90, 0.2), 
				-10px -10px 10px rgba(233, 61, 90, 0.2), 
				10px -10px 10px rgba(233, 61, 90, 0.2);
}


.personal {
	position: relative;
	display: inline-block;
	background: transparent;
	top: 45%;
	left: 20%;
	height: 200px;
	width: 160px;
	border-radius: 10px;
	overflow: hidden;
	justify-content: center;
	-webkit-box-reflect: below 3px linear-gradient(transparent,transparent, transparent, rgba(233, 61, 90, 0.2));
}

.personal-inner{
	position: relative;
	height: 100%;
	width: 100%;
	justify-content: center;
	border-radius: 10px;
	transition: all 0.8s;
	transform-style: preserve-3d;
}

.personal:hover .personal-inner{
	transform: rotateY(180deg);
}

.personal-img, .personal-info{
	position: absolute;
	height: 100%;
	width: 100%;
	border-radius: 10px;
	backface-visibility: hidden;
	transition: all 0.8s;
}

.personal-info{
	background: rgba(1, 5, 26, 1);
	border: 1.5px solid rgb(233, 61, 90);
	color:whitesmoke;
	text-align: center;
	transform: rotateY(180deg);
}

.info-big{
	position: relative;
	top: 30%;
	font-size: 1.6rem;
	font-weight: bold;
}

.info-small{
	position: relative;
	top: 30%;
	font-size: 0.8rem;
}


.icon{
	position:absolute;
	display: inline-block;
	width: 80px;
	right: 20%;
	transition: 0.8s;
}

.icon:hover {
	width: 265px;
}

#ig{
	top: 45%;
}

#fb{
	top: 65%;
}

.fab{
	position: absolute;
	right:1%;
	font-size: 5.5rem;
	transition: 0.3s;
	color: whitesmoke;
}

.icon:hover .fab{
	color: rgb(233, 61, 90);
	transform: rotate(-10deg);
}

.icon:hover #fb-icon{
	color: rgb(64,93,230);
}

.icon:hover #ig-icon{
	/* background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%); */
	color: rgb(225,48,108);
}
.icon-text{
	display: inline-block;
	position: absolute;
	opacity: 0%;
	transition: 0.8s;
	font-size: 1.5rem;
	left: 1%;
	color: white;
}

.icon:hover .icon-text{
	opacity: 100;
}


.my-logo{
	position: absolute;
	color: white;
	display: inline-block;
	padding: 0.6%;
	border-radius: 3px;
	bottom: 0.7%;
	right: 0.7%;
	font-size: 0.7rem;
	text-align: center;
	align-items: center;
	transition: 0.3s;
}

.my-logo:hover {
	color: black;
	font-size: 0.75rem;
	background: rgba(32, 211, 247,1);
	box-shadow: 2px 2px 6px rgba(32, 211, 247,0.2), 
				-2px 2px 6px rgba(32, 211, 247,0.2), 
				-2px -2px 6px rgba(32, 211, 247,0.2), 
				2px -2px 6px rgba(32, 211, 247,0.2);
}












.container{
	position: relative;
	height: 100vh;
	width: 100vw;
	display: grid;
	justify-content: space-evenly;
	grid-template-columns: 40% 60%;
	grid-template-areas: 
		"form result";

}







/*==================FORM====================*/


.input-form{
	grid-area: form;
	position: relative;
	margin: 10px 5px 10px 10px;
	border-radius: 15px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.personal-info-form{
	position: relative;
	display: block;
	top: 2.5%;
	font-size: 0.9em;
}

.form-label{
	display: block;
	margin: 10px 15px 7px 15px;
	font-weight: bold;
	font-size: 1.2em;
}

.form-input{
	display: block;
	width: 95%;
	margin: 5px 10px 15px 10px;
	padding: 7px;
	color: black;
	border-radius: 15px;
	border: 1.5px solid rgba(206, 210, 214,1);
	background: rgba(206, 210, 214,0.1);
  	outline: none;
}


.form-input:focus {
	border: 1.5px solid rgba(66, 135, 245,0.7);
	background: rgba(245, 246, 247,0.5);
	box-shadow: 2px 2px 2px rgba(66, 135, 245, 0.2), 
				-2px 2px 2px rgba(66, 135, 245, 0.2), 
				-2px -2px 2px rgba(66, 135, 245, 0.2), 
				2px -2px 2px rgba(66, 135, 245, 0.2);
	transition: 0.3s;
}

.form-red-input:focus{
	border: 1.5px solid rgba(235, 64, 52,0.7);
	background: rgba(245, 246, 247,0.5);
	box-shadow: 2px 2px 2px rgba(235, 64, 52, 0.2), 
				-2px 2px 2px rgba(235, 64, 52, 0.2), 
				-2px -2px 2px rgba(235, 64, 52, 0.2), 
				2px -2px 2px rgba(235, 64, 52, 0.2);
	transition: 0.3s;
}

.form-radio{
	margin: 7px 10px 15px 15px;
}

.var-input{
	display: block;
	outline: none;
	padding: 0px;
	margin: 0px;
}

.var-type-input{
	margin-right: 0.5%;
	margin-bottom: 0px;
	margin-top: 0px;
	display: inline-block;
	width: 76.5%;
}

.var-type-unit{
	margin-left: 0.5%;
	margin-bottom: 0px;
	margin-top: 0px;
	display: inline-block;
	width: 16.5%;
}

.goal-input {
	margin-right: 0;
	margin-bottom: 0px;
	margin-top: 0px;
	display: inline-block;
	width: 21.6%;
}

.form-btn{
	position: relative;
	margin: 10px 15px 0px 20px;
	display: inline-block;
	font-size: 1em;
	height: 45px;
	width: 200px;
	background: rgba(204, 208, 227, 0.5);
	border-radius: 25px;
	border:none;
	outline: none;
	box-shadow: 5px 5px 5px grey;
}

.form-btn:hover {
	background: rgba(204, 208, 227, 1);
	font: normal bold 1.1em Arial;
	transition: 0.3s;
}

.form-btn:active {
	box-shadow: 3px 3px 3px grey;
	font: normal bold 1.1em Arial;
	transition: 0.3s;
}







/*===================RESULT======================*/

.result{
	grid-area: result;
	position: relative;
	margin: 10px 10px 10px 5px;
	border-radius: 15px;
	overflow: hidden;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#result-mobile-methods{
	display: none;
	position: absolute;
	margin: 0;
	height: auto;
	width: auto;
	top: 3%;
	left: 2%;
}

.result-methods{
	display: block;
	position: absolute;
	height: auto;
	width: auto;
	top: 2%;
	left: 2%;
}

.result-method{
	display: none;
	position: relative;
	padding: 5px 4px;
	background: #ff414d;
	border-radius: 5px;
	outline: none;
	transition: 0.3s;
	border: 2px solid black;
}


.result-method:focus {
	border: 2px solid blue;
	background: black;
	color: white;
	transition: 0.3s;
}

.result-method:hover{
	background: black;
	color: white;
	border: 2px solid white;
	transition: 0.3s;
}

.macros{
	position: absolute;
	width: 80px;
	height: 210px;
	right:2%;
	bottom: 2%;
	float: right;
}

.macro{
	display: none;
	position: relative;
	height: 60px;
	width: 60px;
	padding: 10px;
	margin: 5px auto;
	border: 2px solid black;
	background: red;
	border-radius: 50%;
  	outline: none;
}

.macro:focus {
	border: 2px solid blue;
	height: 65px;
	width: 65px;
	margin: auto auto;
	background: black;
	transition: 0.3s;
}

.macro:hover {
	background: black;
	height: 65px;
	width: 65px;
	border: 2px solid white;
	transition: 0.3s;
}

.macro img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

.calc-result{
	display: inline-block;
	position: relative;
	text-align: center;
	height: 100%;
	width: 100%;
	color: rgb(60, 61, 69);
}

#calc-result-value{
	font-size: 10em;
	position: relative;
	display: block;
	width: 50%;
	top: 25%;
	height: auto;
	margin: auto;
}

#calc-result-unit{
	font-size: 5em;
	position: relative;
	width: 25%;
	top: 25%;
	margin: auto;
	display: block;
}


.shown-result{
	position: absolute;
	font: normal small-caps bold 0.8em Arial;	/*font-style font-variant font-weight font-size/line-height font-family*/
	bottom: 3%;
	left: 2%;
}


/* =========================NECK WAIST HIP FORM================== */
.body-form{
	position: absolute;
	display: inline-block;
	opacity: 0%;
	background: white;
	border-radius: 20px;
	align-items: center;
	justify-content: center;
	border: 2px solid black;
	top: 25%;
	right: 17.5%;
	width: 65%;
	height: 60%;
	transition: all 0.3s;
}

.body-form form{
	margin: auto;
}

.get-accurate{
	position: absolute;
	display: inline-block;
	border: none;
	opacity: 0%;
	background: white;
	border-radius: 50%;
	outline: none;
	height: 40px;
	width: 40px;
	top: 20%;
	right: 3%;
}

.get-accurate i{
	position: absolute;
	color: rgba(255,0,0,0.5);
	border-radius: 50%;
	font-size: 50px;
	display: inline-block;
	top: 0%;
	left: 0%;
	transition: all 0.3s;
}

.get-accurate:hover i{
	color: rgba(255,0,0,0.7);
}

.get-accurate:active i{
	color: rgba(255,0,0,1);
}

.visible{
	opacity: 100%;
}

.hidden{
	display: none;
}






@media only screen and (max-width: 700px) {
	
	.container{
		display: block;
		font-size: 0.9em;
	}

	.input-form{
		padding: 3% 0 10% 0;
	}

	.form-label{
		margin: 3% 3% 1% 3%;
	}

	.form-input{
		margin: 1% 3% 2% 3%;
		padding: 2%;
	}

	.var-input{
		width: 100%;
	}

	.var-type-input{
		width: 75%;
		margin: 0 0% 0 3%;
	}

	.var-type-unit{
		width: 19%;
		margin: 0;
		font-size: 0.8em;
	}

	.goal-input {
		margin-right: 0;
		margin-bottom: 0px;
		margin-top: 0px;
		display: inline-block;
		width: 20.9%;
	}
	
	.form-btn{
		display: inline-block;
		width: 45%;
		margin: 10px 1% 0px 2.5%;
	}

	.result{
		display: block;
		height: 40%;
		margin: 1% 2% 1% 2%;
	}

		
	#result-mobile-methods{
		display: none;
		width: auto;
	}

	.result-methods{
		width: 60%;
		bottom: 1%;
		display: none;
	}

	.result-method{
		display: none;
		margin: 1%;
	}

	.macros{
		width: 14%;
		height: 46%;
	}
	
	.macro{
		display: none;
		height: 40px;
		width: 40px;
		padding: 5px;
	}
		
	.macro:hover {
		background: black;
		height: 60px;
		width: 60px;
	}

	#calc-result-value{
		font-size: 6.2em;
	}

	#calc-result-unit{
		font-size: 2.5em;
	}

	
	/* mobile branding*/
	.branding{
		clip-path: circle(3.8% at 95% 7%);
	}

	.branding-fill{
		clip-path: circle(100% at 50% 50%);
	}

	.branding-fill #branding-info{
		display: none;
	}
		
	#branding-info{
		position: absolute;
		top: 1.8%;
		right: 1.7%;
		font-size: 1.65rem;
	}

	.brand-name{
		font-size: 2.7rem;
	}

	.brand-name:hover{
		font-size: 3rem;
		left: 15%;
	}

	.personal{
		height: 100px;
		width: 75px;
	}

	.info-big{
		font-size: 0.7rem;
	}

	.info-small{
		font-size: 0.5rem;
	}

		
	.icon:hover {
		width: 40%;
	}

	.fab{
		font-size: 3rem;
	}

	.icon-text{
		font-size: 0.9rem;
		font-weight: bold;
	}

	.my-logo{
		font-size: 0.4rem;
		margin: 0.5%;
	}

	.my-logo:hover{
		font-size: 0.45rem;
		font-weight: bold;
	}

	/*Body Form */
	.body-form{
		height: 60%;
	}

	.get-accurate{
		top: 2%;
		right: 15%;
		height: 20px;
		width: 20px;
	}
	.get-accurate i{
		font-size: 25px;
	}
	.body-form .form-label{
		font-size: 0.6rem;
	}

	.body-form .form-input{
		padding: 2px;
	}

	.body-part-form .form-btn {
		height: 35px;
	}
}







