*{
	margin: 0px;
	padding: 0px;
	font: 1em Arial, serif;
	box-sizing: border-box;
	/*color: #e4f9f5;*/
}

body{
	position: relative;
}







/* ============================== BRANDING ============================== */

#branding-icon{
	position: absolute;
	display: inline-block;
	background: rgba(1, 5, 26, 0.7);
	height: 95%;
	width: 90%;
	border-radius: 20px;
	overflow: hidden;
	bottom: 1%;
	right: 1%;
	transition: 0.5s;
	clip-path: circle(6.3% at 90.1% 48.72%);
}

#branding-icon img {
	position: absolute;
	bottom: 40%;
	right: 1%;
	height: 120px;
	width: 120px;
	transition: all 0.5s;
	clip-path: circle(30% at 50% 50%);	/* radius at origin-point(x y) */
}


#branding-icon:hover{
	background:rgba(1, 5, 26, 1);;
	clip-path: circle(100% at 50% 50%);
}

#branding-icon:hover img{
	opacity: 0%;
	clip-path: circle(50% at 50% 50%);		
}


.brand-icon-name{
	position: absolute;
	display: inline-block;
	color: white;
	top: 20%;
	left: 30%;
	font-size: 3.5rem;
	border-radius: 10px;
	border: 2px solid rgb(233, 61, 90);
	transition: 0.5s;
	-webkit-box-reflect: below 3px linear-gradient(transparent,transparent, rgba(233, 61, 90, 0.15), rgba(233, 61, 90, 0.2));
}


.brand-icon-name:hover{
	font-size: 4rem;
	left: 27%;
	background:rgb(233, 61, 90);
	box-shadow: 10px 10px 10px rgba(233, 61, 90, 0.2), 
				-10px 10px 10px rgba(233, 61, 90, 0.2), 
				-10px -10px 10px rgba(233, 61, 90, 0.2), 
				10px -10px 10px rgba(233, 61, 90, 0.2);
}


.brand-icon-my-logo{
	position: absolute;
	display: inline-block;
	bottom: 2%;
	left: 2%;
	font-size: 0.8rem;
	text-align: center;
	align-items: center;
}







.branding{
	position: absolute;
	display: none;
	height: 100vh;
	width: 100vw;
	background: black;
	color: white;
	z-index: 1;
	overflow: hidden;
	/* clip-path: polygon(0 0, 0% 55%, 35% 100%, 65% 100%, 100% 55%, 100% 0); */
	clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 90% 90%, 90% 100%, 74% 90%, 0 90%);
}

.brand{
	/* border: 1px solid white; */
	padding: 0.5% 1%;
	margin: 0;
	text-decoration: none;
	color: white;
}

.brand-name{
	position: absolute;
	display: inline-block;
	color: white;
	top: 20%;
	left: 30%;
	font-size: 5rem;
	border-radius: 20px;
	border: 2px solid rgb(233, 61, 90);
	transition: 0.5s;
	-webkit-box-reflect: below 3px linear-gradient(transparent,transparent, rgba(233, 61, 90, 0.15), rgba(233, 61, 90, 0.2));
}


.brand-name:hover{
	font-size: 6rem;
	left: 27%;
	background:rgb(233, 61, 90);
	/* border: none; */
	box-shadow: 10px 10px 10px rgba(233, 61, 90, 0.2), 
				-10px 10px 10px rgba(233, 61, 90, 0.2), 
				-10px -10px 10px rgba(233, 61, 90, 0.2), 
				10px -10px 10px rgba(233, 61, 90, 0.2);
}

#branding-btn{
	position: absolute;
	font-size: 1.5rem;
	background: white; /*#ff414d */
	height: 50px;
	width: 50px;
	outline: none;
	border: none;
	color: gray;
	border-radius: 50%;
	top: 65%;
	left: 45%;
	justify-content: center;
	text-align: center;
	align-items: center;
	cursor: pointer;
	transition: 0.5s;
}

#branding-btn:hover{
	color: #ff414d;
}

.my-logo{
	position: absolute;
	display: inline-block;
	top: 95%;
	left: 42%;
	font-size: 0.8rem;
	text-align: center;
	align-items: center;
}

.my-logo:hover{
	color:rgb(233, 61, 90);
}

.branding-animation{
	animation-name: moveUp;
	animation-iteration-count: 1;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}

@keyframes moveUp {
	from {top: 0; opacity:100%;}
	to {top: -100%; opacity: 50%;}
}











.container{
	position: relative;
	height: 100vh;
	width: 100vw;
	display: grid;
	justify-content: space-evenly;
	grid-template-columns: 40% 60%;
	grid-template-areas: 
		"form result";
	/*background: #212121;*/

}







/*==================FORM====================*/


.input-form{
	grid-area: form;
	position: relative;
	margin: 10px 5px 10px 10px;
	border-radius: 15px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.personal-info-form{
	position: relative;
	display: block;
	top: 2.5%;
	font-size: 0.9em;
}

.form-label{
	display: block;
	margin: 10px 15px 7px 15px;
	font-weight: bold;
	font-size: 1.2em;
}

.form-input{
	display: block;
	width: 95%;
	margin: 5px 10px 15px 10px;
	padding: 7px;
	color: black;
	border-radius: 15px;
	border: 1.5px solid rgba(206, 210, 214,1);
	background: rgba(206, 210, 214,0.1);
  	outline: none;
}


.form-input:focus {
	border: 1.5px solid rgba(66, 135, 245,0.7);
	background: rgba(245, 246, 247,0.5);
	box-shadow: 2px 2px 2px rgba(66, 135, 245, 0.2), 
				-2px 2px 2px rgba(66, 135, 245, 0.2), 
				-2px -2px 2px rgba(66, 135, 245, 0.2), 
				2px -2px 2px rgba(66, 135, 245, 0.2);
	transition: 0.3s;
}

.form-red-input:focus{
	border: 1.5px solid rgba(235, 64, 52,0.7);
	background: rgba(245, 246, 247,0.5);
	box-shadow: 2px 2px 2px rgba(235, 64, 52, 0.2), 
				-2px 2px 2px rgba(235, 64, 52, 0.2), 
				-2px -2px 2px rgba(235, 64, 52, 0.2), 
				2px -2px 2px rgba(235, 64, 52, 0.2);
	transition: 0.3s;
}

.form-radio{
	margin: 7px 10px 15px 15px;
}

.var-input{
	display: block;
	outline: none;
	padding: 0px;
	margin: 0px;
	/* border: 1px solid black; */
}

.var-type-input{
	margin-right: 0.5%;
	margin-bottom: 0px;
	margin-top: 0px;
	display: inline-block;
	width: 76.5%;
}

.var-type-unit{
	margin-left: 0.5%;
	margin-bottom: 0px;
	margin-top: 0px;
	display: inline-block;
	width: 16.5%;
}

.goal-input {
	margin-right: 0;
	margin-bottom: 0px;
	margin-top: 0px;
	display: inline-block;
	width: 21.6%;
}

.form-btn{
	position: relative;
	margin: 10px 15px 0px 20px;
	display: inline-block;
	font-size: 1em;
	height: 45px;
	width: 200px;
	background: rgba(204, 208, 227, 0.5);
	border-radius: 25px;
	border:none;
	outline: none;
	box-shadow: 5px 5px 5px grey;
}

.form-btn:hover {
	background: rgba(204, 208, 227, 1);
	font: normal bold 1.1em Arial;
	transition: 0.3s;
}

.form-btn:active {
	box-shadow: 3px 3px 3px grey;
	font: normal bold 1.1em Arial;
	transition: 0.3s;
}







/*===================RESULT======================*/

.result{
	grid-area: result;
	position: relative;
	margin: 10px 10px 10px 5px;
	border-radius: 15px;
	overflow: hidden;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#result-mobile-methods{
	display: none;
	position: absolute;
	margin: 0;
	height: auto;
	width: auto;
	top: 3%;
	left: 2%;
}

.result-methods{
	display: block;
	position: absolute;
	height: auto;
	width: auto;
	top: 2%;
	left: 2%;
}

.result-method{
	/* display: inline-block; */
	display: none;
	position: relative;
	padding: 5px 4px;
	background: #ff414d;
	border-radius: 5px;
	outline: none;
	transition: 0.3s;
	border: 2px solid black;
}


.result-method:focus {
	border: 2px solid blue;
	background: black;
	color: white;
	transition: 0.3s;
	/* background: rgba(172, 184, 242,0.3); */
}

.result-method:hover{
	background: black;
	color: white;
	border: 2px solid white;
	transition: 0.3s;
	/* background: rgba(172, 184, 242,0.3); */
}

.macros{
	/* display: inline-block; */
	position: absolute;
	width: 80px;
	height: 210px;
	right:2%;
	bottom: 2%;
	float: right;
}

.macro{
	/* display: block; */
	display: none;
	position: relative;
	height: 60px;
	width: 60px;
	padding: 10px;
	margin: 5px auto;
	border: 2px solid black;
	background: red;
	border-radius: 50%;
  	outline: none;
}

.macro:focus {
	border: 2px solid blue;
	height: 65px;
	width: 65px;
	margin: auto auto;
	background: black;
	transition: 0.3s;
}

.macro:hover {
	background: black;
	height: 65px;
	width: 65px;
	border: 2px solid white;
	transition: 0.3s;
}

.macro img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

.calc-result{
	display: inline-block;
	position: relative;
	text-align: center;
	height: 100%;
	width: 100%;
	color: rgb(60, 61, 69);
}

#calc-result-value{
	font-size: 10em;
	position: relative;
	display: block;
	width: 50%;
	top: 25%;
	height: auto;
	margin: auto;
	/*color: #14ffec;*/
}

#calc-result-unit{
	font-size: 5em;
	position: relative;
	width: 25%;
	top: 25%;
	margin: auto;
	display: block;
}

.shown-result{
	position: absolute;
	font: normal small-caps bold 0.8em Arial;	/*font-style font-variant font-weight font-size/line-height font-family*/
	bottom: 3%;
	left: 2%;
}








@media only screen and (max-width: 700px) {
	
	.container{
		display: block;
		font-size: 0.9em;
	}

	.input-form{
		/* height: 100%; */
		padding: 3% 0 10% 0;
	}

	.form-label{
		margin: 3% 3% 1% 3%;
	}

	.form-input{
		margin: 1% 3% 2% 3%;
		padding: 2%;
	}

	.var-input{
		width: 100%;
	}

	.var-type-input{
		width: 75%;
		margin: 0 0% 0 3%;
	}

	.var-type-unit{
		width: 19%;
		margin: 0;
		font-size: 0.8em;
	}

	.goal-input {
		margin-right: 0;
		margin-bottom: 0px;
		margin-top: 0px;
		display: inline-block;
		width: 20.9%;
	}
	
	.form-btn{
		display: inline-block;
		width: 45%;
		margin: 10px 15px 0px 20px;
		margin: 10px 1% 0px 2.5%;
	}

	.result{
		display: block;
		height: 30%;
		margin: 1% 2% 1% 2%;
	}

		
	#result-mobile-methods{
		display: none;
		width: auto;
	}

	.result-methods{
		width: 60%;
		bottom: 1%;
		display: none;
	}

	.result-method{
		display: none;
		margin: 1%;
	}

	.macros{
		width: 16%;
		height: 65%;
	}
	
	.macro{
		/* display: block; */
		display: none;
		height: 40px;
		width: 40px;
		padding: 5px;
	}
		
	.macro:hover {
		background: black;
		height: 60px;
		width: 60px;
	}

	#calc-result-value{
		font-size: 6.2em;
	}

	#calc-result-unit{
		font-size: 2.5em;
	}
}












